@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h2,
h3,
p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: #37453F;
  display:flex;
  flex-flow: column nowrap;
  align-items:center;
}

button {
  all: inherit;
}
:root {
  --clr-cell-background: #789E8E;
  --clr-border-dark: #1F2B26;
  --clr-border-light: #3a5047;
  --clr-text-numbers: hsl(240, 100%, 100%);
}

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-family: Limelight, sans-serif;
  color: #FFFFFF;
  text-shadow: -11px 6px 3px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-top: 5rem;
  font-size: 3.5rem;
}
p {
  padding: 1rem;
  color: white;
  max-width: 70ch;
  text-align: center;
  font-size:1.2rem;
  padding:2rem;
  background-color:rgb(61, 87, 76);
  border-radius:10px;
  margin-top:1rem;
}
#board_container {
  position: relative;
  margin: 1rem;
}
#board {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  border: 0.3em solid var(--clr-border-dark);
  box-shadow: 1px 1px 1px 1px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.row:nth-child(3n + 3):not(:last-child) {
  border-bottom: 5px solid var(--clr-border-dark);
}

.cell {
  background-color: var(--clr-cell-background);
  border: 1px solid var(--clr-border-light);
  width: clamp(1vw, 9vw, 5rem);
  height: clamp(1vw, 9vw, 5rem);
  color: rgb(243, 255, 232);
  font-size: clamp(.8rem, 12vw, 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:nth-child(3n + 3):not(:last-child) {
  border-right: 5px solid var(--clr-border-dark);
}
button {
  padding: .7rem 1.5rem;
  border-radius:7px;
  color: black;
  background-color: var(--clr-button);
  font-size: 1.4rem;
  cursor: pointer;
}
.difficulties button:nth-of-type(1){
  background-color: #9ACCE9;
}
.difficulties button:nth-of-type(2){
  background-color: #E9D39A;
}
.difficulties button:nth-of-type(3){
  background-color: #E6B2B2;
}
.selected {
  filter:contrast(200%);
}
.difficulties {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  
}
label {
  font-size: 1.3rem;
  color:white;
  margin-right:1rem;
}
input{
  all: unset;
  background-color:white;
  width:4rem;
  text-align:center;
  font-size: 1.4rem;
  font-weight:600;
  box-shadow:inset 0px 0px 4px 2px rgb(109, 109, 109, .8);

}
.success {
  display: none;
  text-align: center;
  width: 100%;
  color:rgb(61, 187, 61);
}
.loading {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.start{
  font-size:2.1rem;
  font-weight:600;
  padding:1.3rem 2.5rem;
  font-variant: small-caps;
  background-color:#6DBC6C;
  color:#1F2B26;  
}
.timeout{
  margin: 2rem 0rem;
}